.invalid_cred_newadmin {
	border: 2px solid red;
}

.createAdminAccount {
	padding: 20px;
	-webkit-box-shadow: 0px 0px 3px 0px rgba(140,140,140,1);
	-moz-box-shadow: 0px 0px 3px 0px rgba(140,140,140,1);
	box-shadow: 0px 0px 3px 0px rgba(140,140,140,1);
	margin-top: 50px;
}

.w100 {
	width: 100%;
}